$N : black;
$G : green;
$R : red;
$B : blue;
$W : white;
%similar {
    background-repeat: no-repeat;
    background-size: cover;
}
%opcbsc {
    border: 2px solid $N;
    border-radius: 8px;
    font-size: 20px;
    display: inline-block;
    place-content: center;
}
/*iPad Pro*/
@media (max-width: 1024px){
    %opcbsc {
        border: 2px solid $N;
        border-radius: 8px;
        font-size: 15px;
        display: inline-block;
        place-content: center;
    }
    .opc {
        margin: 20px 0 0 10px;
        height: 80px;
        width: 100px;
        @extend %opcbsc;
        box-shadow: -10px 10px rgba(0,0,0,0.5);
    }
    .bsc {
        margin: 20px 0 0 10px;
        height: 80px;
        width: 220px;
        @extend %opcbsc;
        box-shadow: -10px 10px rgba(0,0,0,0.5);
    }
}
body {
    background-image: url(../imagenes/GettyImages-605383007-e1519747039171.jpg);
    display:flex;
    background-repeat: repeat;
    background-size: 500%;
}
.buscar {
    display: flex;
    margin-bottom: -12px;
}
.opc {
    margin: 20px 0 0 10px;
    height: 80px;
    width: 200px;
    @extend %opcbsc;
    box-shadow: -10px 10px rgba(0,0,0,0.5);
}
.bsc {
    margin: 20px 0 0 15px;
    height: 80px;
    width: 415px;
    @extend %opcbsc;
    box-shadow: -10px 10px rgba(0,0,0,0.5);
}
#Netflix {
    background-image: url(../imagenes/img_Netflix01.jpg);
    @extend %similar;
    background-position-y: 60%;
}
#Netflix:hover {
    background-image: url(../imagenes/img_Netflix02.jpg);
}
#Youtube {
    background-image: url(../imagenes/img_Youtube01.jpg);
    @extend %similar;
    background-position-y: 60%;
}
#Youtube:hover {
    background-image: url(../imagenes/img_Youtube02.jpg);
}
#Twitch {
    background-image: url(../imagenes/img_Twitch01.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#Twitch:hover {
    background-image: url(../imagenes/img_Twitch02.jpg);
}
#CodePasce {
    background-image: url(../imagenes/img_Visual01.png);
    background-repeat: repeat;
    background-size: 85%;
    background-position-y: 50%;
    background-position-x: 50%;
}
#CodePasce:hover {
    background-image: url(../imagenes/img_Visual02.png);
}
#Wassap {
    background-image: url(../imagenes/img_Whatsapp01.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#Wassap:hover {
    background-image: url(../imagenes/img_Whatsapp02.jpg);
}
#Aternos {
    background-image: url(../imagenes/img_Aternos01.png);
    @extend %similar;
    background-position-x: 50%;
}
#Aternos:hover {
    background-image: url(../imagenes/img_Aternos02.png);
}
#Traductor {
    background-image: url(../imagenes/img_Traductor01.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#Traductor:hover {
    background-image: url(../imagenes/img_Traductor02.jpg);
}
#Markeplace {
    background-image: url(../imagenes/img_Marketplace01.png);
    @extend %similar;
    background-position-y: 25%;
}
#Markeplace:hover {
    background-image: url(../imagenes/img_Marketplace02.png);
}
#Docs_Code {
    background-image: url(../imagenes/Code-FU00.jpg);
    background-repeat: repeat;
    background-size: 50%;
    background-position-x: 50%;
    background-position-y: 15%;
}
#Docs_Code:hover {
    background-image: url(../imagenes/Code-FU.jpg);
}
#GitHub {
    background-image: url(../imagenes/img_Github01.jpg);
    @extend %similar;
    background-position-y: 35%;
}
#GitHub:hover {
    background-image: url(../imagenes/img_Github02.jpg);
}
#Colores_HTML {
    background-image: url(../imagenes/img_Colorhtml01.jpg);
    @extend %similar;
    background-position-y: 70%;
}
#Colores_HTML:hover {
    background-image: url(../imagenes/img_Colorhtml02.jpg);
}
#Codigo_ASCII {
    background-image: url(../imagenes/img_Codigoascii01.jpeg );
    @extend %similar;
    background-position-y: 40%;
}
#Codigo_ASCII:hover {
    background-image: url(../imagenes/img_Codigoascii02.jpeg);
}
#Acordes_de_Guitarra {
    background-image: url(../imagenes/img_Acordesguitarra01.jpg );
    @extend %similar;
}
#Acordes_de_Guitarra:hover {
    background-image: url(../imagenes/img_Acordesguitarra02.jpg);
}
#Correo_UNI {
    margin: 20px 0 0 15px;
    background-image: url(../imagenes/img_Correouni01.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 50%;
    background-position-x: 50%;
}
#Correo_UNI:hover {
    background-image: url(../imagenes/img_Correouni02.png);
}
#GoogleTuneado {
    margin: 20px 0 0 12px;
    background-image: url(../imagenes/img_Mas01.jpg);
    background-repeat: repeat;
    background-size: 60%;
    background-position-y: 50%;
    background-position-x: 50%;
}
#GoogleTuneado:hover {
    background-image: url(../imagenes/img_Mas02.jpg);
}
#Google_Meet {
    margin: 20px 0 0 13px;
    background-image: url(../imagenes/img_Googlemeet01.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#Google_Meet:hover {
    background-image: url(../imagenes/img_Googlemeet02.jpg);
}
#Gmail {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/img_Gmail01.jpg);
    @extend %similar;
    background-position-y: 10%;
}
#Gmail:hover {
    background-image: url(../imagenes/img_Gmail02.jpg);
}

#Disney {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/demas1.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#Disney:hover {
    background-image: url(../imagenes/demas01.jpg);
}
#chess {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/demas2.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#chess:hover {
    background-image: url(../imagenes/demas02.jpg);
}
#scratch {
    background-image: url(../imagenes/demas03.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#scratch:hover {
    background-image: url(../imagenes/demas3.png);
}
#uni {
    background-image: url(../imagenes/demas4.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#uni:hover {
    background-image: url(../imagenes/demas04.png);
}
#soy_yo {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/images00.jpg);
    background-repeat: repeat;
    background-size: 60%;
    background-position-y: 45%;
    background-position-x: 50%;
}
#soy_yo:hover {
    background-image: url(../imagenes/images.jpg);
}
#que_me_gusta {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/images02.jpg);
    background-repeat: repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: 80%;
}
#que_me_gusta:hover {
    background-image: url(../imagenes/images2.png);
}
#soy_bueno {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/images3.jpg);
    @extend %similar;
}
#soy_bueno:hover {
    background-image: url(../imagenes/images03.jpg);
}
#juegos {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/images07.jpg);
    @extend %similar;
    background-position-y: 50%;
}
#juegos:hover {
    background-image: url(../imagenes/images7.jpg);
}
#comidas {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/images04.jpg);
    @extend %similar;
}
#comidas:hover {
    background-image: url(../imagenes/images4.jpg);
}
#bebidas {
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/images05.jpg);
    @extend %similar;
    background-position-y: 60%;
}
#bebidas:hover {
    background-image: url(../imagenes/images5.jpg);
}
#quien_me_gusta{
    margin: 20px 0 0 10px;
    background-image: url(../imagenes/images06.jpg);
    @extend %similar;
    background-position-y: 10%;
}
#quien_me_gusta:hover {
    background-image: url(../imagenes/images6.png);
}
#A {
    margin: 20px 0 0 10px;
    background-color: $N;
    color:$W;
    display: flex;
    justify-content: center;
    text-align: center; 
}
#B {
    margin: 20px 0 0 13px;
    background-color: $R;
    color: $B;
}
#C {
    margin: 20px 0 0 13px;
    background-color: $G;
    color: $B;
}