#Tienda, #Musica, #Peliculas {
  background-repeat: no-repeat;
  background-size: cover;
}

.bsc, .opc {
  border: 2px solid black;
  border-radius: 8px;
  font-size: 20px;
  display: inline-block;
  place-content: center;
  margin: 20px 0 0 10px;
  height: 125px;
  box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
}

body {
  background-image: url(../imagenes/GettyImages-605383007-e1519747039171.jpg);
  display: flex;
  background-repeat: repeat;
  background-size: 500%;
}

.buscar {
  display: flex;
  margin-bottom: -12px;
}

.opc {
  width: 430px;
}

.bsc {
  width: 437px;
}

#GoogleTuneado {
  background-image: url(../imagenes/img_Mas01.jpg);
  background-size: 30%;
  background-position-y: 50%;
  background-position-x: 50%;
}

#GoogleTuneado:hover {
  background-image: url(../imagenes/img_Mas02.jpg);
}

#Peliculas {
  background-image: url(../imagenes/Peliculas00.png);
  background-position-y: 55%;
  background-position-x: 50%;
  background-size: 140%;
}

#Peliculas:hover {
  background-image: url(../imagenes/Peliculas.png);
}

#Musica {
  background-image: url(../imagenes/Musica00.jpg);
  background-size: 100%;
}

#Musica:hover {
  background-image: url(../imagenes/Musica.jpg);
}

#Tienda {
  background-image: url(../imagenes/img_Marketplace01.png);
  background-size: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
}

#Tienda:hover {
  background-image: url(../imagenes/img_Marketplace02.png);
}

#Yo {
  background-image: url(../imagenes/Yo00.jpg);
  background-size: 50%;
  background-position-y: 45%;
}

#Yo:hover {
  background-image: url(../imagenes/Yo.jpg);
}

#A {
  margin: 20px 0 0 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

#B {
  margin: 20px 0 0 13px;
  background-color: red;
  color: blue;
}

#C {
  margin: 20px 0 0 13px;
  background-color: green;
  color: blue;
}

@media (min-width: 576px) {
  .bsc, .opc {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    display: inline-block;
    place-content: center;
    margin: 20px 0 0 10px;
    height: 200px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
  }
  .opc {
    width: 170px;
  }
  .bsc {
    width: 177px;
  }
  #Peliculas {
    background-image: url(../imagenes/Peliculas00.png);
    background-size: cover;
  }
  #Musica {
    background-image: url(../imagenes/Musica00.jpg);
    background-position-y: 55%;
    background-position-x: 50%;
    background-size: cover;
  }
  #Musica:hover {
    background-image: url(../imagenes/Musica.jpg);
  }
  #Tienda {
    background-image: url(../imagenes/img_Marketplace01.png);
    background-size: cover;
    background-position-x: 55%;
  }
  #Tienda:hover {
    background-image: url(../imagenes/img_Marketplace02.png);
  }
  #Yo {
    background-image: url(../imagenes/Yo00.jpg);
    background-size: cover;
  }
  #Yo:hover {
    background-image: url(../imagenes/Yo.jpg);
  }
  #GoogleTuneado {
    background-size: 90%;
  }
}
@media (min-width: 768px) {
  .bsc, .opc {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    display: inline-block;
    place-content: center;
    margin: 20px 0 0 10px;
    height: 200px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
  }
  .opc {
    width: 230px;
  }
  .bsc {
    width: 237px;
  }
  #Musica {
    background-image: url(../imagenes/Musica00.jpg);
    background-position-y: 55%;
    background-position-x: 50%;
    background-size: 188%;
  }
  #Musica:hover {
    background-image: url(../imagenes/Musica.jpg);
  }
  #Tienda {
    background-image: url(../imagenes/img_Marketplace01.png);
    background-size: cover;
    background-position-x: 55%;
  }
  #Tienda:hover {
    background-image: url(../imagenes/img_Marketplace02.png);
  }
  #GoogleTuneado {
    background-size: 80%;
  }
}
@media (min-width: 992px) {
  .bsc, .opc {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    display: inline-block;
    place-content: center;
    margin: 20px 0 0 10px;
    height: 200px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
  }
  .opc {
    width: 300px;
  }
  .bsc {
    width: 307px;
  }
  #Musica {
    background-image: url(../imagenes/Musica00.jpg);
    background-position-y: 55%;
    background-position-x: 50%;
    background-size: 144%;
  }
  #Musica:hover {
    background-image: url(../imagenes/Musica.jpg);
  }
  #Tienda {
    background-image: url(../imagenes/img_Marketplace01.png);
    background-size: cover;
    background-position-x: 55%;
  }
  #Tienda:hover {
    background-image: url(../imagenes/img_Marketplace02.png);
  }
  #GoogleTuneado {
    background-size: 50%;
  }
}
@media (min-width: 1200px) {
  .bsc, .opc {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    display: inline-block;
    place-content: center;
    margin: 20px 0 0 10px;
    height: 125px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
  }
  .opc {
    width: 430px;
  }
  .bsc {
    width: 437px;
  }
}/*# sourceMappingURL=style.css.map */