$N : black;
$G : green;
$R : red;
$B : blue;
$W : white;
/*Media a partir de 500 no sirve*/
%similar {
    background-repeat: no-repeat;
    background-size: cover;
}
%opcbsc {
    border: 2px solid $N;
    border-radius: 8px;
    font-size: 20px;
    display: inline-block;
    place-content: center;
    margin: 20px 0 0 10px;
    height: 125px;
    box-shadow: -10px 10px rgba(0,0,0,0.5);
}
body {
    background-image: url(../imagenes/GettyImages-605383007-e1519747039171.jpg);
    display:flex;
    background-repeat: repeat;
    background-size: 500%;
}
.buscar {
    display: flex;
    margin-bottom: -12px;
}
.opc {
    @extend %opcbsc;
    width: 430px;
}
.bsc {
    @extend %opcbsc;
    width: 437px;
}
#Peliculas {
    background-image: url(../imagenes/Peliculas00.png);
    background-position-y: 55%;
    background-position-x: 50%;
    background-size: 140%;
    @extend %similar;
}
#Peliculas:hover {
    background-image: url(../imagenes/Peliculas.png);
}
#Musica {
    background-image: url(../imagenes/Musica00.jpg);
    background-size: 100%;
    @extend %similar;
}
#Musica:hover {
    background-image: url(../imagenes/Musica.jpg);
}
#Tienda {
    background-image: url(../imagenes/img_Marketplace01.png);
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    @extend %similar;
}
#Tienda:hover {
    background-image: url(../imagenes/img_Marketplace02.png);
}
#Yo {
    background-image: url(../imagenes/Yo00.jpg);
    background-size: 50%;
    background-position-y: 45%;
}
#Yo:hover {
    background-image: url(../imagenes/Yo.jpg);
}
#A {
    margin: 20px 0 0 10px;
    background-color: $N;
    color:$W;
    display: flex;
    justify-content: center;
    text-align: center; 
}
#B {
    margin: 20px 0 0 13px;
    background-color: $R;
    color: $B;
}
#C {
    margin: 20px 0 0 13px;
    background-color: $G;
    color: $B;
}
/*iPhone XR*//*
@media (max-width: 414px) {
    .bsc, .opc {
        border: 2px solid $N;
        border-radius: 8px;
        font-size: 20px;
        display: inline-block;
        place-content: center;
    }
    .opc {
        margin: 20px 0 0 10px;
        height: 85px;
        width: 180px;
        box-shadow: -10px 10px rgba(0,0,0,0.5);
    }
    .bsc {
        margin: 20px 0 0 15px;
        height: 85px;
        width: 370px;
        box-shadow: -10px 10px rgba(0,0,0,0.5);
        display: inline-block;
    }
    .buscar {
        display: inline-block;
    }
}*/