$B : blue;
$G : green;
$N : black;
body {
    background-image: url(../imagenes/GettyImages-605383007-e1519747039171.jpg);
}
.accordion-body {
    background-color: $B;
    color: $N;
}
.accordion-button {
    color: $G;
    background-color: $N;
}